.note-list {
flex-wrap: wrap;

}

.note-list li {
    /* background-color: aqua; */
    width: 8em;
    padding: 1em 1em;
    margin: 10px;
    border-radius: 1em;
    outline: 1px solid rgba(0, 0, 0, 0.418);
}

.text-container{
min-height:10em;

    flex-direction: column;
  justify-content: space-around;
}

.buttons-container {
 /* flex-direction: column; */
  opacity: 0;
  transition: opacity 0.2s;
  /* font-size: 0.5rems; */
  /* background-color: rgb(173, 117, 43); */
 } 



.note-list :hover > .buttons-container {
opacity: 1;


}


.buttons-container button {
background-color: white;
border:none;
font-size: 10px;

}
