.input-container {
    position: absolute;
    margin-left: 20px;
    margin-top: 30px;
font-size: 2em;

top: -20px;
left: 150px;
min-width: 50%;
/* transform:translateY(-210%) */
 /* translateX(10%); */

/* font-family: googleSans; */
}

.input-container button {
    background-color: inherit;
    margin-left: 10px;
border-radius: 1em;
padding:  0.2em ;

}

/* inherit{
    background-color: inherit;
} */

.filter-form input[type=text], .filter-form textarea{
    background-color: var(--clr3);
    padding: 0.5em;
    border-radius: 2em;
    width: 50%;
    font-family: googleSans;
    /* font-size: 15rem; */
}