/* Setup */

@import './setup/variables.css';
/* @import './setup/fonts.css'; */

/* Basics */

@import './basics/base.css';
@import './basics/helpers.css';
@import './basics/layout.css';

/* /~ Views ~/ */
@import './views/home.css';
@import './views/about.css';

/* @import './apps/note/views/note-app.css'; */

/* @import './apps/mail/views/mail-app.css'; */

/* Cmps */

@import './cmps/user-msg.css';
@import './cmps/app-header.css';

/* note */
@import './apps/note/cmps/note-list.css';
@import './apps/note/views/note-edit.css';
@import './apps/note/cmps/note-filter.css';
/* @import './apps/mail/cmps/mail-list.css'; */

/* mail css */
/* mail preview */
*{
    margin:0;
    box-sizing: border-box;
}
@font-face {
    font-family: GoogleSans;
    src: url(../fonts/GoogleSans-Regular.ttf);
}
body{
    font-family: GoogleSans;
}

.main-data{
    display: grid;
    grid-template-columns: 187px auto;
    grid-template-rows: auto;
    grid-template-areas:
    "left-nav mail";

}

/* UtilsSection */
/* button */
.div-new-btn{
    display: flex;
    justify-content: center;
    text-align: center;

    border-radius: 16px;
    color: #5f6368;
    padding: 14px;
    /* min-width: 96px; */
    background-color: var(--clr1);
    text-align: center;
}
.container-left{
    height: 100%;
    background-color: var(--clr2);
    padding: 10px;
}
.link-mail-compose{
    height: 10px;
}

.pen-btn{
    background-image: url(../img/create_gm_grey_24dp.png);
    background-size: 24px;
    height: 20px;
    width: 20px;
}
.add-new-email{

    cursor: pointer;
}

.left-thing{
    cursor: pointer;
}


/* New mail */
.mail-compose{
    border: 1px solid black;
}


.total-app{
    display: grid;
    grid-template-rows: 48px 1fr;
    grid-template-areas: 
    "header"
    "total-info";

    height: 100vh;
}

.total-info{
    grid-area: total-info;
    height: 100%;
}

.div-main{
    height: 100%;
    display: grid;
    grid-template-columns: 187px 1fr;
    grid-template-areas: 
    "left-nav   main-contanier-emails";
}

.left-nav{
    grid-area: left-nav;
    height: 100%;
}
.options-in-nav{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}
.drafts, .sent-Mail, .starred, .inbox{
    margin: 8px;
}

.main-contanier-emails{
    height: 100%;
    grid-area: main-contanier-emails;
    background-color: var(--clr1);
    border: 1px red solid;
}

.app-header{
    grid-area: header;
}

.app-header {
    display: flex;
    justify-content: space-between;
    height: 48px;
    /* padding: 8px; */
}
.container-wrap-mails{
    height: 100%;
    width: 100%;

}
.wrap-mails{
    height: 100%;
    padding: 2rem;
    border: 2px solid rgb(64, 226, 64);
    width: 100%;
}

.mail-list{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    border: 2px solid rgb(89, 41, 222);
    border-collapse: collapse;
    border-spacing: 4px;
}
.mail-preview{
    display: grid;
    grid-template-columns: 1fr 2fr repeat(3, 1fr);
    grid-template-areas: 
    "subject body-msg sent-at remove-btn details";
    border: 2px salmon solid;
    width: 100%;
}
.subject{
    grid-area: subject;
}
.body-msg{
    grid-area: body-msg;
}
.sent-at{
    grid-area: sent-at;
}
.remove-btn{
    grid-area: remove-btn;
}
.details{
    grid-area: details;
}
input[type=text]{
    border-radius: 10px;
    width: 15rem;
    
}
.filter-mail{
    position: absolute;
    margin-left: 40px;
    margin-top: 30px;
font-size: 2em;

top: -20px;
left: 150px;
min-width: 50%;
/* transform:translateY(-210%) */
 /* translateX(10%); */

/* font-family: googleSans; */
}

.filter-mail input[type=text]{
font-size: 1rem;
padding: 0.25em;
}

.btn-send-mail{
    border-radius: 50%;
    height: 40px;
    background-color: rgb(60, 189, 60);
    margin: 30px;
    color: black;

}
form{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mail-compose input[type=text]{
    display: block;
    font-size: 2rem;
    width: 90%;
    margin: 1rem;
    font-family: googleSans ;
    border-radius: 2rem;
 }
