/* Setup */

@import './setup/variables.css';
/* @import './setup/fonts.css'; */

/* Basics */

@import './basics/base.css';
@import './basics/helpers.css';
/* @import './basics/layout.css'; */

/* /~ Views ~/ */
/* @import './views/home.css'; */

/* @import './apps/note/views/note-app.css'; */

/* @import './apps/mail/views/mail-app.css'; */

/* Cmps */

@import './cmps/user-msg.css';
@import './cmps/app-header.css';

/* @import './apps/mail/cmps/mail-list.css'; */

/* mail css */
/* mail preview */
*{
    margin:0;
}
.mail-preview{
    background-color: antiquewhite;
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
}
/* mail list */
.mail-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* mail layout */

.main-data{
    display: grid;
    grid-template-columns: 1fr, 3fr;
    grid-area: 
    "left-nav main-mails"
}

.left-nav{
    grid-area: left-nav;
}
