/* Setup */

@import './setup/variables.css';
/* @import './setup/fonts.css'; */

/* Basics */

@import './basics/base.css';
@import './basics/helpers.css';
/* @import './basics/layout.css'; */

/* /~ Views ~/ */
/* @import './views/home.css'; */

/* @import './apps/note/views/note-app.css'; */

/* @import './apps/mail/views/mail-app.css'; */

/* Cmps */

@import './cmps/user-msg.css';
@import './cmps/app-header.css';

@import './apps/note/cmps/note-list.css';
/* @import './apps/mail/cmps/mail-list.css'; */

/* mail css */
/* mail preview */
*{
    margin:0;
}
@font-face {
    font-family: GoogleSans;
    src: url(../fonts/GoogleSans-Regular.ttf);
}
body{
    font-family: GoogleSans;
}


.mail-preview{
    padding: 10px;
    height: 60px;
    color: var(--clr4);
}
/* mail list */
.mail-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* mail layout */

.main-data{
    display: grid;
    grid-template-columns: 187px auto;
    grid-template-rows: auto;
    grid-template-areas:
    "left-nav mail";

}

.left-nav{
    grid-area: left-nav;
    background-color: var(--clr2);
    /* height: 93.5vh; */
    
}
.mail-list{
    grid-area: mail;
    background-color: var(--clr3);
}


/* UtilsSection */
/* button */
.div-new-btn{
    display: flex;
    justify-content: center;
    text-align: center;

    border-radius: 16px;
    color: #5f6368;
    height: 56px;
    padding: 0 0 0 24px;
    /* min-width: 96px; */
    background-color: var(--clr1);
    text-align: center;
    line-height: 32px;

}

.pen-btn{
    background-image: url(../img/create_gm_grey_24dp.png);
    background-size: 24px;
    height: 20px;
    width: 20px;
}
.add-new-email{

    cursor: pointer;
}

.left-thing{
    cursor: pointer;
}