header {
    position: sticky;
    background: var(--clr2);
    /* overflow: hidden; */
    /* min-height: 20%; */
}

/* .app-header { */
/* display: flex; */
/* justify-content: space-between; */
/* height: 48px; */
/* padding: 8px; */
/* } */

header img {
    width: 250px;
    transform: translateY(-10px) translateX(-70px);
}

header nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    right: 0;
    top: 40px;
    transform: translateX(150%);

    /* overflow: visible; */
}

.logo {
    font-size: 2rem;
    margin-left: 30px;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}

.nav-bars {
    /* padding: 30px; */
    /* margin:10px ; */
    font-size: 3rem;
    /* min-height: 50px; */
    width: max-content;
    background-color: inherit;
    border: none;
    margin-right: 20px;
 
}

@media (min-width:800px){
    .nav-bars {
        display: none;
    }

    header nav {
        position: static;
        flex-direction: row;
        transform: translateX(0%);
    }
    
}